body {
    font: 14px "Open Sans", "Arial", sans-serif;
}

video {
    margin-top: 2px;
    border: 1px solid black;
}

.button {
    cursor: pointer;
    display: block;
    width: 160px;
    border: 1px solid black;
    font-size: 16px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 4px;
    color: white;
    background-color: darkgreen;
    text-decoration: none;
    margin-bottom: 5px;
}

h2 {
    margin-bottom: 4px;
}

.controls {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.top-controls {
    display: flex;
    flex-direction: 1;
    flex-wrap: nowrap;
}

.top-control-box {
    flex: 1;

    margin-right: 10px;
    margin-left: 10px;

    width: 160px;
    padding: 0px;
}

.angle-reporter {
    font-size: larger;
}

.bottom {
    clear: both;
    margin-top: 20px;
    padding-top: 10px;
}